*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family:  Arial, Helvetica, sans-serif;;
}

#wrap{
    width: 780px;
    margin: 0 auto;
}

#header{
    position: relative;
}

#topnav{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    background-image: url('topnavbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2px 10px;
}

#topnav a{
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 13px;
    font-weight: bold;
}

#hdr {
    background-image: url('black-jack-casino.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 160px;
}

#navbar,#navbar-bottom{
    background-image: url('navbg.jpg');
    background-size: 100% 100%;
    height: 14px;
}
#bargif,#bargifdown{
    background-image: url('bar.gif');
     background-size: 100% 100%;
    height: 14px;
}

#main {
    display: flex;
    align-items: stretch;
}

#leftsidebar{
    width: 150px;
    flex-shrink: 0;
    background-image:  url('leftnav.jpg');
    background-size: 100% 100%;
    padding-top: 15px;
}

.sidebtn{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 11px;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-image: url('leftnavbutton.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#leftnavdown{
    background-image: url('leftnavdown.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 170px;
    margin-top: 25px;
}

#middle-content{
    flex: 1;
    background: #ffffff;
    padding: 0 8px 20px;
}

.wlecome{
    text-align: center;
    margin-top: -0;
    font-size: 20px;
    background-image: url('centre-bar.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #ffffff;

}
.ad-banner{
    background-image: url('centeradd.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60px;
    margin-bottom: 15px;
   
}

#middle-content p{
    font-size: 11px;
    color: #333;
    line-height: 1.4;
    text-align: justify;
    margin: 0 0 25px;

}

#rightnav{
    width: 150px;
    flex-shrink: 0;
    background-image: url('rightnav.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

#footer{
    text-align: center;
    background-color: black;

}

#footer a,p{
    text-decoration: none;
    color: white;
}